__pycache__/*

collections/10K/*
collections/10Q/*
Jsonl_Data/*.jsonl
indexes/*
retrieval_results/*
retrieval_results_trec/*
Archive/*
downloads/*
highlighting_results/*
embeddings/*
training/model/*

cnc_highlighting/*
DPR/*

retriever_reader_testing.ipynb