__pycache__/*

# corpus, embeddings, indexes
collections/10K/*
collections/10Q/*
indexes/*
embeddings/*

# retrieval results
retrieval_results/*
retrieval_results_trec/*_*/*
!retrieval_results_trec/combined_results/*
highlighting_results/*

Archive/*
training/model/*

eval/*
llm_ner/*
training/*.jsonl

cnc_highlighting/*

BM25_tuning/retrieval_results/*
BM25_tuning/retrieval_results_trec/*
BM25_tuning/*.csv

dense_tuning/retrieval_results/*
dense_tuning/retrieval_results_trec/*
dense_tuning/*.csv

hybrid_tuning/retrieval_results/*
hybrid_tuning/retrieval_results_trec/*
hybrid_tuning/*.csv